body {
  margin: 0;
  padding: 0;
  background: #540038;
  color: #fff;
  font-family: 'Montserrat', sans-serif;
}

.helpline h4 {
  font-size: 20px;
}
.helpline h4 i {
  color: #00f1ff;
}

.consolewindow {
  font-size: 20px;
  display: inline;
}

.preconsole {
  font-weight: 800;
  color: rgba(99, 206, 0, 0.801);
}

.terminalBox > div {
  display: block;
}

.errorText {
  font-size: 20px;
  color: rgb(150, 133, 133);
}

.displayText {
  color: #00ffea;
  margin-right: 50px;
}

.displayText > div > span {
  color: red;
}

.textbox {
  background: #540038;
  border: none;
}

textarea:focus, input:focus {
  outline-offset: 0px !important;
  outline: none !important;
}