body {
  margin: 0;
  padding: 0;
  background: #540038;
  color: #fff;
  font-family: 'Montserrat', sans-serif;
}

.consolewindow {
  font-size: 20px;
  display: inline;
}

.preconsole {
  font-weight: 800;
  color: rgba(99, 206, 0, 0.801);
}

.terminalBox > div {
  display: block;
}

.errorText {
  font-size: 20px;
  color: rgb(150, 133, 133);
}

@keyframes flicker {
  from { background: #fff; }
  to { background: #540038; }
}

.textbox {
  background: #540038;
  border: none;
}

textarea:focus, input:focus {
  outline-offset: 0px !important;
  outline: none !important;
}